button {
  margin-top: 5px;
}

label {
  font-weight: bold;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  margin-right: 10px;
}

#preview {
  padding: 20px;
}

#preview h1 {
  font-size: 22px;
}
